*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
.container{
    width: 100%;
    height: 100%;
}

.row{
    display: flex;
}

/* CLASSE FLEX PER MOBILE VIEW */
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container{
    width: 50%;
}

img{
    width: 100%;
}

/* COLUMN SECTION TOGLIERE ALTEZZE */
.col-50{
    width: 100%;
}

.col-70{
    width: 100%;
    height: 100px;
}

.col-30{
    width: 100%;
    height: 100px;
}

.col-100{
    width: 100%;
    height: 100px;
}

.col-66{
    width: 100%;
}

.col-33{
    width: 100%;
}

/* BG COLOR */
#section2.container,
#section4.container,
#section6.container{
    background-color: #9593e6;
}

#section1 .col-66,
#section1 .col-33{
    background-color: #b5ddff;
}

#section2 .col-50:last-child{
    background-color: #fff;
}

/* BORDER */
.border{
    border: 1px solid black;
}

/* PADDING */
.padding0-50{
    padding: 0px 50px;
}
/* MARGIN */

/* HEADER */
header{
    height: 70px;
    background-color: #0084fd;
    color: #fff;
}

header .container{
    width: 100%;
    height: 100%;
}

.hr-content{
    width: 100%;
}

header .row{
    height: 100%;
}

header .col-50{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#menù{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header img{
    width: 50%;
}
/* SEZIONE 1 */
#section1 .row{
    flex-direction: column;
}


/* SEZIONE 2 */
#section2 .row{
    flex-direction: column;
}

#section2 i{
    background-color: #9593e6;
    border-radius: 50%;
    padding: 10px 13px;
}

/* SEZIONE 3 */
#section3 .row{
    flex-direction: column;
}

#section3 .col-100{
    background-color: #9593e6;
}

#section3 .col-100:first-child{
    background-color: #fff;
}

/* SEZIONE 4 */
#section4 .row{
    flex-direction: column;
}

#section4 .col-100,
#section4 .col-33{
    background-color: #fff;
}

/* SEZIONE 5 */
#section5 .row{
    flex-direction: column;
}

/* SEZIONE 6 */

/* FOOTER */
footer{
    background-color: #333333;
    color: #fff;
}