*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
.container{
    width: 100%;
}

.row{
    display: flex;
}

.content{
    width: 100%;
}

/* FLEX */

/* COLUMN SECTION TOGLIERE ALTEZZE */
.col-50{
    width: 50%;
}

.col-s1{
    width: 100%;
    height: 100px;
    background-color: red;
}


/* BG COLOR */

/* BORDER */
.border{
    border: 1px solid black;
}

/* PADDING */
.padding0-50{
    padding: 0px 50px;
}
/* MARGIN */

/* HEADER */
header{
    height: 70px;
    background-color: #0084fd;
}

header .container{
    width: 100%;
    height: 100%;
}

header .row{
    height: 100%;
}

header .col-50{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#menù{
    display: flex;
    justify-content: flex-end;
}

/* SEZIONE 1 */
#section1 .row{
    flex-direction: column;
}